h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    letter-spacing: 5px;
    color: #bad1d1;
    margin-bottom: 10px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    color: #18dbdb;
    margin: 10px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    color: #4c5959;
}

input {
    font-size: 15px;
    letter-spacing: 1px;
    padding: 15px 10px 10px;
    font-family: Arial, sans-serif;
    border: 1px solid #222626;
    background: #bad1d1;
    color:#3a4242;
    box-sizing: border-box;
    width: 200px;
    max-width: 600px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #2B4B40;
    padding: 10px 20px;
    border-radius: 5px;
}
